/* commun aux pages */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
  margin: 0;

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

header {
    background: #6b0808 ;
    padding: 15px 0;
    height:5%;
    display:flex;
}

header p{
    color:white;
    position: relative;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
}
/* Menu déroulant */

#menuToggle {
    display: block;
    position: relative;
    margin-top: 12.5px;
    margin-left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    margin-top: -7px;
    margin-left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 200px;
    height: 790px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu ul {
    position: relative;
    z-index: -2;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* Boxs manga */


.les_mangas {
    border-radius: 10px;
    margin: 50px;
    background-color: rgba(89,89,89,0.1);
    height: fit-content;
    width: fit-content;
    padding: 50px;
    
}
.les_mangas span{
  font-size: 40px;
  
}


.boxs{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  
}
.les_mangas .manga {
  background-color: rgba(89,89,89,0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  margin-left: 25px;
  transition: 0.8s;
  align-items: center;
}
.les_mangas .manga:hover {
  background-color: #6b3636;
  cursor: pointer;
  transition: 0.8s;
}
.les_mangas .manga p {
  font-size: 25px;
}
